{
  email web@jacob-alford.dev
  acme_ca https://ca.plato-splunk.media/acme/acme/directory
  acme_ca_root /etc/step/certs/root_ca.crt

  storage file_system /etc/caddy
}

https://jellyfin.plato-splunk.media {
  reverse_proxy localhost:8096
}

# http://jellyfin.plato-splunk.media {
#   reverse_proxy localhost:8096
# }
